# Build-Verzeichnis
build/

# LaTeX-Hilfsdateien
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.out
*.run.xml
*.synctex.gz
*.synctex(busy)
*.toc
*.nav
*.snm
*.vrb
*.xdv

# Kompillierte PDF
*.pdf

# latexindent
indent.log
*.bak[0-9]*

# Editor / OS
*~
*.swp
.DS_Store
